In [1]:
import pandas as pd
import requests

## Chuck Norris Joke API

In [2]:
chuck = requests.get('https://api.chucknorris.io/jokes/categories')

In [3]:
chuck_norris = chuck.json()
chuck_norris

['animal',
 'career',
 'celebrity',
 'dev',
 'explicit',
 'fashion',
 'food',
 'history',
 'money',
 'movie',
 'music',
 'political',
 'religion',
 'science',
 'sport',
 'travel']

In [4]:
chuck = requests.get('https://api.chucknorris.io/jokes/random?category=dev')

In [5]:
chuck_norris = chuck.json()
chuck_norris

{'categories': ['dev'],
 'created_at': '2020-01-05 13:42:19.324003',
 'icon_url': 'https://assets.chucknorris.host/img/avatar/chuck-norris.png',
 'id': 'o8a2hwedsl229fyvwikkxq',
 'updated_at': '2020-01-05 13:42:19.324003',
 'url': 'https://api.chucknorris.io/jokes/o8a2hwedsl229fyvwikkxq',
 'value': 'The only pattern Chuck Norris knows is God Object.'}

In [6]:
chucky = pd.DataFrame(chuck_norris)
chucky

,categories,created_at,icon_url,id,updated_at,url,value
0,dev,2020-01-05 13:42:19.324003,https://assets.chucknorris.host/img/avatar/chu...,o8a2hwedsl229fyvwikkxq,2020-01-05 13:42:19.324003,https://api.chucknorris.io/jokes/o8a2hwedsl229...,The only pattern Chuck Norris knows is God Obj...

## Agify API

In [7]:
agifyPT = requests.get('https://api.agify.io?name[]=nuno&name[]=maria&name[]=joana&country_id=PT')
agifyNL = requests.get('https://api.agify.io?name[]=jan&name[]=jorien&country_id=NL')
agifyUS = requests.get('https://api.agify.io?name[]=erin&country_id=US')

In [8]:
agesPT = agifyPT.json()
agesNL = agifyNL.json()
agesUS = agifyUS.json()

In [9]:
PT = pd.DataFrame(agesPT)
NL = pd.DataFrame(agesNL)
US = pd.DataFrame(agesUS)

Name_Age = pd.concat([PT,NL,US])
Name_Age

     name  age  count country_id
0    nuno   39  16680         PT
1   maria   23    160         PT
2   joana   63   7282         PT
0     jan   70   2047         NL
1  jorien   51    169         NL
0    erin   49    694         US

## Harry Potter API

In [10]:
hp_students = requests.get('http://hp-api.herokuapp.com/api/characters/students')

In [11]:
students = hp_students.json()

In [14]:
students = pd.DataFrame(students)
students.head()

,name,alternate_names,species,gender,house,dateOfBirth,yearOfBirth,wizard,ancestry,eyeColour,hairColour,wand,patronus,hogwartsStudent,hogwartsStaff,actor,alternate_actors,alive,image
0,Harry Potter,[],human,male,Gryffindor,31-07-1980,1980,True,half-blood,green,black,"{'wood': 'holly', 'core': 'phoenix feather', '...",stag,True,False,Daniel Radcliffe,[],True,http://hp-api.herokuapp.com/images/harry.jpg
1,Hermione Granger,[],human,female,Gryffindor,19-09-1979,1979,True,muggleborn,brown,brown,"{'wood': 'vine', 'core': 'dragon heartstring',...",otter,True,False,Emma Watson,[],True,http://hp-api.herokuapp.com/images/hermione.jpeg
2,Ron Weasley,[],human,male,Gryffindor,01-03-1980,1980,True,pure-blood,blue,red,"{'wood': 'willow', 'core': 'unicorn tail-hair'...",Jack Russell terrier,True,False,Rupert Grint,[],True,http://hp-api.herokuapp.com/images/ron.jpg
3,Draco Malfoy,[],human,male,Slytherin,05-06-1980,1980,True,pure-blood,grey,blonde,"{'wood': 'hawthorn', 'core': 'unicorn tail-hai...",,True,False,Tom Felton,[],True,http://hp-api.herokuapp.com/images/draco.jpg
4,Cedric Diggory,[],human,male,Hufflepuff,,1977,True,,grey,brown,"{'wood': 'ash', 'core': 'unicorn hair', 'lengt...",,True,False,Robert Pattinson,[],False,http://hp-api.herokuapp.com/images/cedric.png